In [47]:
from datetime import datetime, timedelta
import pandas as pd

In [48]:
#Crear un dataframe con todas las fechas del año 2021

inicio = datetime(2021,1,1);
fin   = datetime(2021,12,31);

lista_fechas = [(inicio + timedelta(days=d)).strftime("%Y-%m-%d")
                    for d in range((fin - inicio).days + 1)] 
Date = pd.DataFrame(lista_fechas, columns = ["Date"])
Date["Date"] = Date["Date"].astype("datetime64[ns]")

In [50]:
bit2021 = pd.read_csv(r"C:\Users\felip\OneDrive\Documentos\MathML\Taller 1\Datos\bit2021.csv")
gold2021 = pd.read_csv(r"C:\Users\felip\OneDrive\Documentos\MathML\Taller 1\Datos\gold2021.csv")
oil2021 = pd.read_csv(r"C:\Users\felip\OneDrive\Documentos\MathML\Taller 1\Datos\oil2021.csv")
silver2021 = pd.read_csv(r"C:\Users\felip\OneDrive\Documentos\MathML\Taller 1\Datos\silver2021.csv")

In [104]:
def clean_dfs(df):
    df = df.drop("Unnamed: 0",1)
    df.columns = ["Date", "Price"]

    df["Date"] = df["Date"].astype("datetime64[ns]")
    df = df.sort_values(by=['Date'], ascending = True)

    df["Price"] = df["Price"].astype("string")
    df["Price"] = df["Price"].str.replace(',', '.') 
    df["Price"] = df["Price"].astype("float64")
    return df

def merge_interpolate_dfs():
    dfs_prices = [bit2021, gold2021, oil2021, silver2021]
    clean_dfs_prices = list(map(clean_dfs, dfs_prices))

    prices = Date
    for df in clean_dfs_prices:
        prices = prices.merge(df, on="Date", how="left")
        
    columns_prices = ["Date","PriceBitcoin", "PriceGold", "PriceOil", "PriceSilver"]
    prices.columns = columns_prices
    prices.iloc[:,1:5] = prices.iloc[:,1:5].interpolate(method='linear', axis=0) 
    prices = prices.fillna(prices.mean())
    prices.iloc[:,1:5] = prices.iloc[:,1:5].round(2)
    return prices

In [106]:
prices = merge_interpolate_dfs()
prices.to_csv(r"C:\Users\felip\OneDrive\Documentos\MathML\Taller 1\prices2021.csv")
prices

C:\Users\felip\AppData\Local\Temp/ipykernel_27188/2616593307.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("Unnamed: 0",1)
C:\Users\felip\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Price_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(
C:\Users\felip\AppData\Local\Temp/ipykernel_27188/2616593307.py:24: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  prices = prices.fillna(prices.mean())

          Date  PriceBitcoin  PriceGold  PriceOil  PriceSilver
0   2021-01-01      29374.15    1887.60     67.98        26.52
1   2021-01-02      32127.27    1906.13     53.55        26.77
2   2021-01-03      32782.02    1924.67     60.64        27.01
3   2021-01-04      31971.91    1943.20     61.45        27.58
4   2021-01-05      33992.43    1940.35     64.59        27.87
..         ...           ...        ...       ...          ...
360 2021-12-27      50640.42    1805.20     75.57        22.98
361 2021-12-28      47588.86    1805.20     75.98        23.11
362 2021-12-29      46444.71    1794.25     76.56        22.85
363 2021-12-30      47178.12    1805.85     76.99        23.09
364 2021-12-31      46306.45    1805.85     75.21        23.38

[365 rows x 5 columns]